<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <title>Admin Dashboard</title>
</head>
<body>

    <ul>
        <li><a class="active" href="adminpanel">Admin Dashboard</a></li>
        <li><a href="newsfeed">News Feed</a></li>
        <li><a href="logout">Log Out</a></li>
        
      </ul>
      



      
    <div class='a_details' style="padding:40px;margin-top:40px;margin-bottom:30px;background-color:#f5f4f1;height:300px;">
        <!-- <div class='artist_photo' style='padding:40px;margin-right:40px;margin-left:40px'>
             <img align='left' src="mangelo.jpeg" alt="sculptor photo"> -->

             <div class="card">
              <div class="image">
                <img src="../static/nan.jpg" alt="molly photo" width="150" height="160"/>
              </div>
              <div class="content">
                <div class="header">Admin</div>

              </div>

            </div>


        </div>



    <div align="center" style=" font-size: 150%;">
      Sculptures waiting for approval

      <div class="ui cards">
        <div class="card">
          <div class="content" align="center">
            <img  src="pharaoh.jpg" width=200px; height=180px>
          </div>
          <div class="header" align="center">
            <b>Pharaoh</b>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button">Accept</div>
              <div class="ui basic red button">Reject</div>
            </div>
          </div>
        </div>
        </div>

    </div>




<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(13, 42, 95);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(26, 39, 153);
}

.active {
  background-color: #0954aa;
}
</style>
</body>
</html>